.env
.venv
.vscode
.idea
.DS_Store
.pytest_cache

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

*.egg-info

# data
data/

# runs
runs/

# Checkpoints
checkpoints/

# Results
finetuned_model/
tokenized_data_split/
flirty_reward_model_adapter/
flirty_reward_model_adapter_v2/
flirty_llama_ppo_model/
reward_model/

